src/OsoujiSystem.Frontend/
docs/
.agents/
.devcontainer/
.idea/
.vscode/
docker/
skills/
tests/
AGENTS.md
docker-compose.yml
*.user
charts/
.github/
.aspire/
.git/
.gitignore
.dockerignore
app-host/
.markdownlint*
.prettier*
*.user