{
  "$schema": "https://json.schemastore.org/prettierrc",
  "printWidth": 240,
  "tabWidth": 2,
  "useTabs": false,
  "proseWrap": "preserve",
  "markdownWhitespaceSensitivity": "ignore",
  "embeddedLanguageFormatting": "auto",
  "singleQuote": false,
  "trailingComma": "none",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
