#root {
  width: 100%;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  margin: 0 0 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  padding: 0.75rem;
  border: 1px solid #3c3c3c;
  text-align: left;
  overflow-wrap: anywhere;
}

thead {
  background: #222;
}
